<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimplyDone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>599EDDF71B27480300CB9165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>599EDE0B1B27480400CB9165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>599EDE161B27480400CB9165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
